main{
  width:50%;
}
#chat {
  width:25%;
  height:fit-content;
  position:sticky;
  top:0;
}
#userInfo{
  width:25%;
  height:fit-content;
  position:sticky;
  top:0;
}
.contentContainer{
  flex-shrink: 0;
  flex-grow: 1 2 1;
  gap:10px;

}
